{% extends 'base.html' %}
{% load static %}

	{% block content %}
<head>
	<title>Online Shop</title>
</head>

		<div class="section-top">
			<img src="{% static 'images/index.jpg' %}" class="img-responsive">
		</div>
		<div class="section section1">
			<h2 class="arr-title">New Arrivals</h2>
			<div class="row">
				{% for product_item in products_items %}
					{% include "base/product_item.html" %}
				{% endfor %}
			</div>
		</div>
		<div class="section section-delivery">
			<div>
				<p>Free Shipping</p>
			</div>
		</div>
		<div class="section section2">
			<h2 class="arr-title">Phones</h2>
			<div class="row">
				{% for product_item in products_items_phones %}
					{% include "base/product_item.html" %}
				{% endfor %}
			</div>
		</div>
		<div class="section section3">
			<h2 class="arr-title">Laptops</h2>
			<div class="row">
				{% for product_item in products_items_laptops %}
					{% include "base/product_item.html" %}
				{% endfor %}
			</div>
		</div>

	{% endblock content %}