{% extends 'base.html' %}
{% load static %}

	{% block content %}
<!-- 		<div class="section-top">
			<img src="{% static 'images/index.jpeg' %}" class="img-responsive">
		</div> -->
		<div class="section">
			<div class="row">
				{% for product_image in products_images %}
					<div class="col-lg-3">

						<div class="product-item">
							<div>
								<img src="{{ product_image.image.url }}" class="img-responsive">
							</div>
							<h4>{{ product_image.product.name }}</h4>
							<p>
								{{ product_image.product.description|truncatechars_html:70 }}
							</p>
							<div class="item-price">
								<p>
									{{ product_image.product.price }} UAH
								</p>
							</div>
							<div class="add-to-cart-btn">
								<button class="btn btn-success">
									Add to cart
								</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>

	{% endblock content %}