html, body, .wrapper{
	height: 100%;
	max-height: 100%;
	font-family: 'Roboto', 'sans-serif';
	background-color: #edeef0;
}

.wrapper{
	position: relative;
	min-height: 100%
}

.wrapper-content{
	overflow: auto;
	margin-bottom: 90px;
	padding: 15px;
}

.footer{
	position: absolute;
	margin-top: -90px;
	height: 90px;
	clear: both;
	background-color: white;
	bottom: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}


.navbar{
	margin-bottom: 0px;
}

.section-top{
	margin: 0px;
}

.product-item{
	height: 600px;
	background-color: white;
	border: solid 1px white-grey;
	position: relative;
	margin-bottom: 25px;
	padding: 10px 0 10px 0;
	text-align: center;
}

.add-to-cart-btn{
	position: absolute;
	bottom: 25px;
	left: 35%;
}

.item-price{
	width: 100px;
	position: absolute;
	bottom: 60px;
	left: 50%;
	margin-left: -50px; 
}
.arr-title{
	text-align: center;
}
.discount-container{
	position: absolute;
	text-align: center;
	top: 30%;
	background-color: #55e073;
	width: 30%;
	color: white;
	font-weight: 700;
	padding: 4px;
	margin-left:3px;
}
.section-delivery{
	height: 300px;
	text-align: center;
	background-color: white;
}

.cart-container{
	position: relative;
	padding: 15px;
	width: 400px;
}

.cart-items{
	position: absolute;
	top: 51px;
	width: 100%;
	z-index: 10;
	padding: 10px;
	background-color: rgb(222,222,222);
}

.cart-text{
	margin: 0px 0px 0px;
}

.form-error{
	color: red;
}