{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
   <!--  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}"/> -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!--     <script>
    var csrftoken = '{% csrf_token %}';
    </script> -->
    

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">  

   <!--  {% csrf_token %} -->


</head>
<body>
    <div class="wrapper">
        <div class="wrapper-content">
        
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}

        
        </div>
    </div>

        {% include 'footer.html' %}

<!--     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js'%}"></script>

    <script src="{% static 'js/scripts.js' %}"></script>

</body>